{% extends 'base.html' %} 

{% load static %} 
{% load custom_filters %} 

{% block content %}
    <section id="home">
        <h1>Make your <span> Style </span> Colorfull</h1>

        <header>
            <div id="introduction" style="background-color: rgb({{colors.0.r}},{{colors.0.g}},{{colors.0.b}})">
                <button id="website_description_button" onclick="document.getElementById('introduction_window').style.opacity = 1; document.getElementById('introduction_window').style.pointerEvents = 'auto';">
                        <i class="bi bi-arrows-angle-expand"></i>
                    </button>

                <div id="text" >Creating harmonious color palettes that inspire creativity, elevate design, and breathe life into every project.</div>
            </div>

            <div id="header_features">
                <div id="wheel_header">
                    <div class="image" style="background-color: rgb({{colors.4.r}},{{colors.4.g}},{{colors.4.b}})"></div>
                    <div class="image" style="background-color: rgb({{colors.4.r}},{{colors.4.g}},{{colors.4.b}})"></div>

                    <div id="wheel_header_button">
                        <div id="click" onClick="send(event)"><i class="bi bi-arrow-clockwise"></i></div>
                    </div>
                </div>

                <div id="data">
                    <div id="theme">
                        <div>
                            What's your color ?
                        </div>
                    </div>

                    <div id="color_theme_values">
                        <div id="number_colors" style="background-color: rgb({{colors.3.r}},{{colors.3.g}},{{colors.3.b}}); border: none">
                            <p><span>{{color_train|length}}<span>*</span></span> colors</p>
                        </div>

                        <div id="number_themes" style="background-color: rgb({{colors.1.r}},{{colors.1.g}},{{colors.1.b}}); border: none">
                            <p><span>{{theme_train|length}}<span>*</span></span>palettes</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        {% include 'app/Home_includes/introduction_window.html' %}
        

        <script src={% static 'app/javascript/home.js' %}></script>
    </section>
{% endblock content %}