{% load static %} 
{% load custom_filters %} 

{% block content %}

    <div id="palette">   
        <form action="{% url 'palette' %}?action=valider_palette" method="post" id="palette_form">
            {% csrf_token %} 
            
                <input type="text" value="{{ theme }}" name="theme" style="display:none">

                <div>
                    {% for colour in palette %}
                        {% include './components/color_input.html' with colour=colour forloop_counter=forloop.counter %}
                    {% endfor %}
                </div>

                {% if number_color_inputs < 5 %}
                    <button type="button" id="add_color" onclick="addColor()"><i class="bi bi-plus-circle"></i></button>
                {% endif %}


                <input id="envoi_palette" type="submit" value="Keep in mind" style="{% if number_color_inputs <= 0 %}display: none;{% else %}display: block;{% endif %}"/>
                
        </form>
    </div>

    <script src={% static 'app/javascript/Palettes_functions/palettes_display.js' %}></script>
{% endblock content %}