{% load static %} 
{% load custom_filters %} 

{% block content %}

    <div id="tool_table">
        <p>Tools</p>

        {% include './components/tool.html' with tool_id='palettes_samples' tool_title='Palettes' expand_title='Meet our palettes' palette_data=themes_palettes_sample show_more=True %}
        
        {% include './components/tool.html' with tool_id='ia_palettes' tool_title='IA tool' expand_title='IA generated palette' form_action="http://127.0.0.1:8000/palette/?action=choix_theme" %}
        
        {% include './components/tool.html' with tool_id='triadics_colors' tool_title='Triadics tool' expand_title='Triadic simphony' %}
        
        {% include './components/tool.html' with tool_id='historic' tool_title='Historic' expand_title='Previous colors' %}
    </div>

{% endblock content%}